#myCustomModal {
    max-width: 700px;
    margin: 1.75rem auto;
    & .editor {
        & .warning-text {
            color: red;
            font-size: 0.9rem;
        }
    }

    & .form-label {
        margin-bottom: 2px;
    }

    & .modal-content .modal-body .form-check {
        margin-top: 9px;
        margin-bottom: 5px;
    }

    & .password-input {
        position: relative;
    }

    & .toggle-password-icon {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
}
