.modal-content {
    border-radius: 10px;

    & .modal-header {
        background-color: #007bff;
        color: white;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    & .modal-body {
        font-size: 16px;
    }

    & .modal-footer {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    & .student-info {
        margin-bottom: 10px;

        strong {
            font-weight: bold;
            margin-right: 10px;
        }

        p {
            margin: 5px 0;
        }
    }

    & .close-button {
        background-color: #f43347;

        &:hover {
            background-color: #e9384a;
        }
    }

    & .form-control {
        transition: none;
        margin-bottom: 5px;
    }
}
