// component css
@use '/src/styles/colors';

// background color
$rss-regular-bgcl: colors.$rss-regular-blue-cl;
$rss-error-page-bgcl: colors.$rss-regular-black-cl;

// text color
$rss-regular-text-cl: colors.$rss-regular-black-cl;

// border radius
$rss-regular-brcl: colors.$rss-regular-black-cl;

// border
$rss-regular-box-bdcl: rgba(0, 0, 0, 0.2);
$rss-regular-input-bdcl: rgb(222, 226, 230);

// icon
$rss-regular-icon-cl: colors.$rss-regular-black-cl;

// input
$rss-regular-input-action-btn: colors.$rss-regular-blur-gray-cl;
