@use './colors';
@use './animation.scss';

body {
    margin: 0;
    padding: 0;
}

a,
p,
div,
main,
h1,
h2,
h3,
input,
textarea,
button {
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

i.bi {
    color: rgb(19, 20, 23);
    font-size: 1rem;
}

.notistack-SnackbarContainer {
    & .notistack-Snackbar {
        max-width: 380px;

        & .notistack-MuiContent-error {
            background-color: rgba(255, 80, 80, 0.8);
        }
        & .notistack-MuiContent-success {
            background-color: rgb(91, 231, 120, 0.8);
        }
        & .notistack-MuiContent-info {
            background-color: rgb(255, 255, 255, 0.8);
            color: black;
        }
    }
}

.page-loading {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
    box-sizing: border-box;

    & .loading-box {
        width: 90%;
        height: 8px;
        background-color: #f0f0f0; /* Màu nền của thanh loading */
        border-radius: 3px;
        overflow: hidden;
    }

    .loading-bar {
        height: 100%;
        border-radius: 5px;
        background-color: colors.$rss-regular-blue; /* Màu của thanh loading */
        animation: slide 2s linear infinite;
    }
}
