@use '../../styles/colors';

.AdminInfoContainer {
    & .return{
        background-color: colors.$rss-regular-blue;
        margin-top: 10px;
        margin-left: 20px;
        font-size: 1rem;
    }
    & .AdminInfo {
        margin: 0 auto;
        padding: 5px;
        background-color: #fff;
        font-size: 1.5rem;
        & h2 {
            margin-bottom: 20px;
            color: colors.$rss-regular-blue;
            text-align: center;
        }
        .d-inline-block.col-5.text-nowrap{
            text-align: center;
        }
        .d-inline-block.col-7.pl-0 {
            text-align: center;
            font-weight: 800;
        }
        & .wrapper {
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            padding: 20px;
            
            .update, .Pass {
                flex: 1;
                margin: 0 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
                padding: 20px;
            }
        
            .update {
                margin-right: 5px; 
            }
        
            .Pass {
                margin-left: 5px; 
            }
        }
        
    }
}
