@use '../../styles/colors';
.AdminUpdate {
    padding: 40px;
    & .modal-header{
        background-color:colors.$rss-regular-blue;
        color: #fff;
    }
    & .modal-body {
        margin-bottom: 20px;

        & select.form-control {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 3px;
            box-sizing: border-box;
            appearance: none;
            background-size: 14px;
            -webkit-appearance: none;
            -moz-appearance: none;
        }
    }
    & .modal-footer{
        & .save {
            color: #fff;
            padding: 10px 20px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0& 3s ease;
    
            &:hover {
                background-color: #0056b3;
            }
        }
        & .Cancel-save {
            border: none;
            background-color: white;
            color: black;
        }
    }
}

.Confirm-form {
    & .Cancel-confirm {
        border: none;
        background-color: white;
        color: black;
    }
}
