@use '../../styles/colors';

.SearchStudent {
    padding: 20px 10px;
    width: 100%;
    box-sizing: border-box;

    & .Search-container {
        border-radius: 10px;
        width: 100%;
        overflow: hidden;

        & .Search-title {
            width: 100%;
            box-sizing: border-box;
            background-color: colors.$rss-regular-blue;
            padding: 10px;
            padding-left: 20px;

            & .search-bar-box {
                display: flex;
                width: 100%;
                height: 40px;
                position: relative;

                & .search-bar {
                    border: none;
                    padding: 5px 20px;
                    outline: none;
                    width: 100%;
                    font-size: 1rem;
                    border-radius: 30px;
                    padding-right: 50px;
                }

                & .search-btn {
                    display: flex;
                    padding: 5px;
                    width: 35px;
                    height: 35px;
                    cursor: pointer;
                    position: absolute;
                    right: 3px;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: colors.$rss-regular-blue;
                    border-radius: 50%;

                    & i {
                        font-size: 1rem;
                        color: white;
                        margin: auto;
                    }
                }
            }
        }
    }

    & .search-results {
        margin-top: 10px;

        ul {
            border-radius: 15px;
            list-style: none;
            padding: 0;
            margin: 0;
            background-color: #f0f0f0;
            max-height: 15rem;
            overflow-y: auto;

            li {
                padding: 10px;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    background-color: white;
                }

                .bi {
                    font-size: 1.8rem;
                }

                div {
                    flex: 1; // Each div takes equal space
                    text-align: center;
                }

                &.no-results {
                    justify-content: center;
                    color: #999;
                }
            }
        }
    }
}
