@use '../../styles/colors';

.SubjectList {
    padding: 0 10px;

    & s.body {
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
    }

    & .AddRegisterSession-title {
        margin-top: 10px;
        background-color: colors.$rss-regular-blue;
        padding: 10px;
        padding-left: 20px;
        border-radius: 5px;

        & h2 {
            margin: 0;
            color: white;
        }
    }

    & .button-container {
        display: flex;
        width: 100%;
        padding: 10px;
        justify-content: space-between;
        & .add {
            background-color: colors.$rss-regular-blue;
            border-color: colors.$rss-regular-blue;
        }

        & .return {
            background-color: colors.$rss-regular-blue;
            border-color: colors.$rss-regular-blue;
        }
    }

    & .table {
        width: 80% !important;
        margin-left: auto;
        margin-right: auto;

        & td,
        th {
            border: 1.5px solid #d6d5d5;
            border-collapse: collapse;
            text-align: center;
        }
        & .action {
            width: 180px;
        }

        & .table-hover tbody tr:nth-child(odd) {
            background: #333;
        }

        & .edit-button {
            border: none;
            padding: 5px 15px;
            cursor: pointer;
            margin-right: 10px;
        }
        & .hide {
            border: none;
            padding: 5px 15px;
            cursor: pointer;
        }
    }
    & h2 {
        font-weight: bold;
        font-size: 2rem;
        text-align: center;
        margin: 40px 0 10px 35px;
        color: colors.$rss-regular-blue;
    }
}
