.nav-bar {
    display: flex;
    align-items: center;
    height: 55px;
    padding: 10px 50px;
    background-color: rgb(84, 180, 235);
    box-sizing: border-box;

    & i,
    p {
        color: rgb(255, 255, 255);
    }

    & p {
        font-weight: bold;
    }
}
