@use '../styles/colors';

.HomePage {
    padding: 0 10px;

    & .AddRegisterSession-title {
        margin-top: 10px;
        background-color: colors.$rss-regular-blue;
        padding: 10px;
        padding-left: 20px;
        border-radius: 5px;
    }
    & h2 {
        color: white;
    }
    & .button-div {
        & button {
            background-color: colors.$rss-regular-blue;
            border: 2px colors.$rss-regular-blue solid;
            color: white;
            font-weight: bold;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 10px;
            border-radius: 5px;
            font-size: 15px;
            padding: 10px 10px;
            &:hover {
                background-color: white;
                color: colors.$rss-regular-blue;
            }
        }
    }
    & .admin-info-wrapper {
        margin-top: 30px;
    }
}
