@use '/src/styles/colors';

.ErrorPage {
    display: flex;
    height: 100vh;
    padding: 2rem;
    box-sizing: border-box;
    background-color: rgb(19, 20, 23);

    & main {
        box-sizing: border-box;
        max-width: 350px;
        margin: auto;
        font-family: system-ui, sans-serif;
        font-size: 1rem;
        color: rgb(255, 255, 255);

        & title,
        p,
        ul {
            box-sizing: border-box;
            margin-top: 20px;
        }

        & ul a {
            color: colors.$rss-regular-blue;
        }

        & p {
            color: rgb(255, 255, 255);
        }
    }
}
