@use '/src/styles/base';
@use '/src/styles/colors';

$input-width: 500px;

.HomePage {
    display: flex;
    justify-content: center;

    & .login-form {
        width: 600px;

        & .form-group {
            margin-top: 30px;

            & input {
                width: calc($input-width - 100px);
            }

            & .password-action-btn {
                display: flex;
                background-color: base.$rss-regular-input-action-btn;
                border-color: base.$rss-regular-input-bdcl;

                & svg {
                    height: 1rem;
                    width: 1rem;
                    transition: transform 0.2s;
                    color: base.$rss-regular-text-cl;
                    margin: auto;
                }

                &:hover svg {
                    transform: scale(1.1);
                }
            }
        }

        & .submit-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 5px;
            background-color: base.$rss-regular-bgcl;
            border: 2px base.$rss-regular-bgcl solid;
            margin-top: 30px;
            width: 100%;
            transition: background-color 0.2s;
            font-weight: bold;

            &:hover {
                background-color: colors.$rss-regular-white-cl;
                color: colors.$rss-regular-blue-cl;

                & i {
                    color: colors.$rss-regular-blue-cl;
                }
            }

            & i {
                font-size: 1rem;
                color: colors.$rss-regular-white-cl;
            }
        }
    }
}
