@use '/src/styles/colors';

$input-width: 515px;
$message-color: rgb(255, 87, 87);

.LoginPage {
    margin: auto;
    width: fit-content;

    & .title-page {
        font-weight: bold;
        font-size: 2.5rem;
        margin-top: 20px;
        color: colors.$rss-regular-blue;
    }

    & .description {
        margin-top: 20px;
        font-size: 0.9rem;
        color: gray;

        & span {
            font-weight: bold;
            font-style: italic;
        }
    }

    & .login-form {
        width: calc($input-width + 85px);

        & .form-group {
            margin-top: 30px;

            & .input-wrapper {
                display: flex;
                align-items: center;
                height: 40px;
                border: 1.5px gray solid;
                border-radius: 5px;
                overflow: hidden;

                & .icon-wrapper {
                    display: flex;
                    align-items: center;
                    padding: 0 15px;
                    height: 100%;
                    background-color: rgb(239, 239, 239);
                    border-right: 1px gray solid;
                }

                & input {
                    width: $input-width;
                    outline: none;
                    border: none;
                    box-sizing: border-box;
                    padding-left: 12px;
                }

                & .hide-show-passowrd-btn {
                    cursor: pointer;

                    & i {
                        font-size: 1.2rem;
                        transition: transform 0.2s;
                        color: rgb(19, 20, 23);
                        margin: auto;
                    }

                    & span {
                        display: block;
                        transition: transform 0.2s;
                    }

                    &:hover span {
                        transform: scale(1.2);
                    }
                }
            }

            & .message {
                display: flex;
                column-gap: 5px;
                align-items: center;
                color: $message-color;
                font-size: 0.9rem;
                font-weight: 500;
                margin-left: 15px;
                margin-top: 3px;

                & i {
                    color: $message-color;
                }
            }
        }

        & .submit-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 5px;
            background-color: colors.$rss-regular-blue;
            border: 2px colors.$rss-regular-blue solid;
            margin-top: 30px;
            width: 100%;
            transition: background-color 0.2s;
            font-weight: bold;
            color: white;
            border-radius: 5px;
            height: 2.4rem;

            &:hover {
                background-color: rgb(255, 255, 255);
                color: colors.$rss-regular-blue;

                & i {
                    color: colors.$rss-regular-blue;
                }
            }

            & i {
                font-size: 1.1rem;
                color: rgb(255, 255, 255);
            }
        }
    }
}
