@use '/src/styles/base';
@use '/src/styles/colors';

// searchBar.scss

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    input {
        padding: 8px;
        margin-right: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
        width: 200px;

        &:focus {
            outline: none;
            border-color: blue;
        }
    }

    button {
        padding: 8px 16px;
        border: none;
        border-radius: 4px;
        background-color: blue;
        color: white;
        font-size: 14px;
        cursor: pointer;

        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
}
